.Container{
  border: 5px inset burlywood;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  justify-self: center;
  background-color: aquamarine;
  box-shadow: 2px 2px 10px 10px black;
  margin-top: 50px;
}
.Container h1{
  font-size: 40px;
  color:brown;
}
.allinside{
border: 3px inset rgb(45, 234, 9);
border-radius: 10px;
margin: 20px;
background-color: aqua;
box-shadow: 1px 1px 10px 6px black;
}
input{
  width: 85%;
  padding: 10px;
  border: none inset rgb(10,56,34);
  margin-top: 15px;
  border-radius: 5px;
  
}
button{
  width: 60px;
  padding: 10px;
  border: 3px inset rgb(10, 56, 445);
  height: fit-content;
  border-radius: 20px;
  margin-inline: 10px;
}
button:hover{
  background-color: rgb(10, 56, 445);
}